<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>You have recevied a measasge from the site's contact form, from
        <%= "#{ @name }, #{ @email }." %></p>
        <p><%= @body %></p>
    </body>
</html>